@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
iframe {
  width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  color: #6c6c6c;
}

.flex-half {
  flex: 6;
}

.section-padding {
  padding: 70px 0px;
}

.btn {
  width: 168px;
  background-color: #e02c6d;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 27px;
  transition: ease-out 0.4s;
  box-shadow: inset 0 0 0 0 #02c0c7;
  outline: none;
}

.btn:hover {
  box-shadow: inset 168px 0 0 0 #02c0c7;
  cursor: pointer;
  color: black;
}

/* ------------------
Top banner section 
------------------- */
.hero-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 35px;
}
.top-banner {
  background-color: #2d25a0;
}

.flexible-section {
  display: flex;
  align-items: center;
}

.main-title h1 {
  font-size: 64px;
  color: #fff;
  font-weight: 700;
}

/* ---------
main starts here
---------- */
.container {
  max-width: 1050px;
  margin: 0 auto;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.player {
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player h2 {
  font-size: 24px;
  font-weight: 700;
}

/*--------------
 Highlights 
-------------- */
.highlights {
  display: flex;
  align-items: center;
  gap: 70px;
}

.highlights-title h1 {
  font-size: 48px;
  font-weight: 700;
}

/*---------------
video-section 
---------------- */
.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-section h1 {
  font-size: 25px;
}

.videos {
  display: flex;
  align-items: center;
  padding: 25px 0px 60px 0px;
  gap: 70px;
  width: 100%;
}

.videos iframe {
  height: 350px;
}

/*---------------
  Ticket form 
--------------- */
#ticket-section {
  display: flex;
  justify-content: center;
}

.ticket-form {
  display: flex;
  flex-direction: column;
}

.ticket-form input {
  font-size: 25px;
  margin-top: 15px;
  border: 1px solid lightblue;
  padding: 10px;
  border-radius: 5px;
}

.ticket-btn {
  width: 340px;
  transition: ease-out 0.4s;
}

.ticket-btn:hover {
  box-shadow: inset 340px 0 0 0 #02c0c7;
}

/*-----------
 footer 
----------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 63px;
}

footer img {
  max-width: 320px;
}

#social-icons {
  width: 170px;
  height: 32px;
  margin: 20px 0;
  display: flex;
  gap: 14px;
}

#social-icons .fab {
  font-size: 32px;
}

#copyrights {
  font-size: 18px;
  color: black;
}

@media only screen and (max-width: 768px) {
  .main-title h1 {
    font-size: 36px;
  }

  .flexible-section {
    flex-direction: column;
    margin-bottom: 50px;
    gap: 40px;
  }

  .half-width img {
    width: 100%;
    padding: 25px;
  }

  .players {
    grid-template-columns: repeat(2, 1fr);
  }

  .player {
    margin: 0 25px;
    padding: 15px;
  }

  .highlights {
    flex-direction: column;
    margin: 0 25px 0 25px;
    padding: 0;
    gap: 29px;
  }

  .highlights-title h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .right-side img {
    width: 100%;
    height: 248px;
  }
  .video-section {
    padding: 25px;
  }
  .video-section h1 {
    font-size: 18px;
    text-align: center;
  }
  .videos {
    flex-direction: column;
    gap: 0;
  }
  .videos iframe {
    height: 200px;
  }

  footer {
    margin-top: 50px;
  }

  footer img {
    padding: 0 70px;
  }
}

@media only screen and (max-width: 480px) {
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
}
